@import './base.css';

html, body, div#app {
  margin: 0;
  padding: 0;
}

:root {
  --c: #42b983;
  --b: white;
  --d: black;
}

header {
  padding: 0;
  margin: 0;

  font-size: 5em;
  display: flex;
  justify-content: center;

  div {
    position: relative;
    cursor: pointer;
    color: var(--c);
    line-height: 1em;
    height: 1em;
    width: 1em;
  }

  .username {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1rem;
    height: 1rem;
    line-height: 1rem;
    color: var(--d);
  }
}

h1 {
  color: var(--c);
  background-color: var(--b);

  text-align: center;
  display: flex;

  span:first-child, span:last-child {
    cursor: pointer;
    color: var(--b);
    background-color: var(--c);
    padding: 0 1em;
  }
  span:nth-child(2) {
    flex-grow: 1;
  }
}
